{% include 'partials/header_viewStats.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>View Team Stats</h1>
    </div><br>

    {% load crispy_forms_tags %}
    <form id="view_stats" method="post" data-teams-url="{% url 'ajax_load_teams' %}" novalidate>
        {% csrf_token %}
        {{ form_view_stats.as_table }}
        <!--input type="submit" value="View Stats"-->
    </form>


    <div class="col-1">
        <div class="switch-toggle switch-3 switch-candy">
            <input id="batting" name="state-d" type="radio" value="batting" checked="checked" />
            <label class="stat_state" for="batting" onclick="">batting</label>

            <input id="pitching" name="state-d" type="radio" value="pitching" />
            <label class="stat_state" for="pitching" onclick="">pitching</label>

            <input id="fielding" name="state-d" type="radio" value="fielding" />
            <label class="stat_state" for="fielding" onclick="">fielding</label>

            <a></a>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <h3 id="select_header">2019 Batting Stats for ANA</h3>
    </div><br>
    <table id="table_output" class="display" width="100%"></table><br>

    <script>
    // for the teams drop-down dependency
    $("#id_year").change(function () {
        var url = $("#view_stats").attr("data-teams-url");  // get the url of the `load_teams` view
        var yearId = $(this).val();  // get selected YEAR
        //console.log(url);
        // initialize an AJAX request
        $.ajax({
            //async: true,
            url: url,  // set the url of the request (= localhost:8000/ajax/load-teams/)
            data: {
                'year': yearId  // add the year id to the GET parameters
            },
            success: function (data) {  // `data` is the return of the `load_teams` view function
                //console.log(data);
                $("#id_team").html(data);  // replace with the values retrieved
            }
        });
    });

    // get request for the DataTable stats
    $(document).ready(function() {
        window.col_types = {{col_types|safe}};

        // instantiate DataTable
        table_instantiate();
    });

    // new GET request call every time the team name is changed
    $("#id_team").change(function () {
        getURL = "/api/stat_results?format=datatables&year=" + $("#id_year").val()  +
            "&team=" + $("#id_team").val() + "&stats_table=" + $("input[name=state-d]:checked").val();
        //console.log(getURL);
        table.ajax.url(getURL).load();

        // update the header
        update_header();
    });

    // new GET request when stat type is toggled (batting, pitching, fielding)
    $(".switch-candy").change(function() {

        // destroy the table, then setup a new table
        table.destroy(true);
        var get_div = document.getElementsByTagName("body");
        var new_table = document.createElement("table");
        new_table.setAttribute("id", "table_output");
        new_table.setAttribute("class", "display");
        new_table.setAttribute("width", "100%");
        get_div[0].appendChild(new_table);

        // instantiate the table
        table_instantiate();

        //console.log("switch toggled");

        // update header
        update_header();
    });

    // function to instantiate DataTable
    function table_instantiate() {
        getURL = "/api/stat_results?format=datatables&year=" + $("#id_year").val() +
            "&team=" + $("#id_team").val() + "&stats_table=" + $("input[name=state-d]:checked").val();
        console.log(getURL);

        // instantiate the table
        table = $('#table_output').DataTable({
            "ajax": getURL,
            "columns": col_types[$("input[name=state-d]:checked").val()]['column_name'],
            "paging": false
        });

        // add the title to use for tool tip later
        $('#table_output thead tr th').each( function() {
            var sTitle;
            var nTds = $(this);
            var sTip = $(nTds[0]).text();
            //console.log(sTip);
            var sDesc = col_types[$("input[name=state-d]:checked").val()]['column_desc'][sTip];
            //console.log(sDesc);
            this.setAttribute('title', sDesc);
        });
    };

    // function to update header
    function update_header() {
        var stat_select = $("input[name=state-d]:checked").val();
        var first_letter = stat_select.charAt(0).toUpperCase();
        stat_select = first_letter + stat_select.slice(1); // skip first letter
        //console.log(stat_select);
        $("#select_header").text($("#id_year").val() + " " + stat_select + " Stats for " + $("#id_team").val());
    };
    </script>

{% include 'partials/footer_baseball.html' %}
