{% include 'partials/header_baseball.html' %}
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

    <div id="my_title" class="d-flex justify-content-center">
        <h1>View Team Stats</h1>
    </div><br>

    {% load crispy_forms_tags %}
    <form id="view_stats" data-stats-url="{% url 'ajax_load_stats' %}"
          method="post" data-teams-url="{% url 'ajax_load_teams' %}" novalidate>
        {% csrf_token %}
        {{ form_view_stats.as_table }}
        <!--input type="submit" value="View Stats"-->
    </form>

    <div id="selected" class="d-flex justify-content-center">
        <h3>{{ heading }}</h3>
    </div><br>
    <div id="table_output" class="d-flex justify-content-center">{{ results.as_table }}</div>

    <script>
        (function () {
            window.results = "{'data': ''}";
            window.columns = {{post_col|safe}};
            window.bat_col = "{'cols': ''}";
        }());
    </script>
    {% load static %}
    <script src="{% static 'scripts/baseball/view_stats.js' %}"></script>
    <br>

    <script>
    // for the teams drop-down dependency
    $("#id_year").change(function () {
        var url = $("#view_stats").attr("data-teams-url");  // get the url of the `load_teams` view
        var yearId = $(this).val();  // get selected YEAR
        //console.log(url);
        // initialize an AJAX request
        $.ajax({
            //async: true,
            url: url,  // set the url of the request (= localhost:8000/ajax/load-teams/)
            data: {
                'year': yearId  // add the year id to the GET parameters
            },
            success: function (data) {  // `data` is the return of the `load_teams` view function
                //console.log(data);
                $("#id_team").html(data);  // replace with the values retrieved
            }
        });
    });

    // get API
    $("#id_team").change(function() {
        var yearId = $('#id_year').val();  // get selected YEAR
        var teamId = $(this).val();  // get selected TEAM
        $.ajax({
            url: "/stat_results",
            type: "POST",
            data: {
                'year': yearId,
                'team': teamId
            },
            success: function(data) {
                console.log("API RESULTS");
                //console.log(data);
                //console.log(data.length);
                results = data[0]['results'];
                heading = data[0]['heading'];
                console.log(heading);
                bat_col = data[0]['post_col'];
                $('#table_stats').DataTable();
            },
            error: function(error) {
                console.log("API ERROR");
                console.log(error);
            }
        });
    });
    </script>

{% include 'partials/footer_baseball.html' %}
