{% include 'partials/header_baseball.html' %}
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

    <div id="my_title" class="d-flex justify-content-center">
        <h1>View Team Stats</h1>
    </div><br>

    {% load crispy_forms_tags %}
    <form id="view_stats" method="post" data-teams-url="{% url 'ajax_load_teams' %}" novalidate>
        {% csrf_token %}
        {{ form_view_stats.as_table }}
        <!--input type="submit" value="View Stats"-->
    </form>

    <div id="selected" class="d-flex justify-content-center">
        <h3>Batting Stats</h3>
    </div><br>
    <table id="table_output" class="display" width="100%"></table><br>

    <script>
    // for the teams drop-down dependency
    $("#id_year").change(function () {
        var url = $("#view_stats").attr("data-teams-url");  // get the url of the `load_teams` view
        var yearId = $(this).val();  // get selected YEAR
        //console.log(url);
        // initialize an AJAX request
        $.ajax({
            //async: true,
            url: url,  // set the url of the request (= localhost:8000/ajax/load-teams/)
            data: {
                'year': yearId  // add the year id to the GET parameters
            },
            success: function (data) {  // `data` is the return of the `load_teams` view function
                //console.log(data);
                $("#id_team").html(data);  // replace with the values retrieved
            }
        });
    });

    // instantiate StatsTable
    $(document).ready(function() {
        window.columns = {{post_col|safe}};
        getURL = "/api/stat_results?format=datatables&year=" + $("#id_year").val() + "&team=" + $("#id_team").val();
        //console.log(getURL);
        $('#table_output').DataTable({
            "ajax": getURL,
            "columns": columns,
            "paging": false
        });
    });

    // new GET request call every time the team name is changed
    $("#id_team").change(function () {
        getURL = "/api/stat_results?format=datatables&year=" + $("#id_year").val() + "&team=" + $("#id_team").val();
        //console.log(getURL);
        $('#table_output').DataTable().ajax.url(getURL).load();
    });
    </script>

{% include 'partials/footer_baseball.html' %}
