# exclude .idea and data files
**/retrodata
**/retrodata/*
**/venv
**/venv/*
**/.idea
**/.idea/*
**/__pycache__
**/__pycache__/*
*.csv
*.LOG
# **/import -- keep the directory
**/import/*
**/baseball/.git
**/baseball/.git/*
**/baseball/.gitignore