# exclude .idea and data files
**/retrodata
**/retrodata/*
**/venv
**/venv/*
**/.idea
**/.idea/*
**/__pycache__
**/__pycache__/*
*.csv
*.LOG
**/appsetup
**/appsetup/*
# **/import -- keep the directory
**/import/*
