{% include 'partials/header_baseball.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Jobs Dashboard</h1>
    </div><br>

    <div id="startContent" class="container-fluid">


    </div>

    <script>
        (function () {
                window.processes = JSON.parse('{{processes|safe}}');
                window.years_imported = JSON.parse('{{years_imported|safe}}');
                window.teams_processed = JSON.parse('{{teams_processed|safe}}');

                // parameters
                window.svg_height = 1200;
                window.svg_width = 1200;
                window.view_height = 400;
                window.view_width = 600;
                window.grid_width = 120;
                window.bar_height = 40;
                window.bar_spacing = 10 + bar_height;
                window.op_trans = 1000; // overall progress bar transition time (ms)
            }());
    </script>
    <script>
        // set up svg
        var svg = d3.select('#startContent').append('svg')
            .attr('height', svg_height).attr('width', svg_width);

        // set up overall progress view
        var overall_progress = svg.append('g')
            .attr('transform', 'translate(10,10)')
            .append('svg')
                .attr('class', 'overall-progress')
                .attr('height', view_height).attr('width', view_width);

        // set up titles
        var op_titles = overall_progress.selectAll('.grid-title')
            .data(processes).enter().append('text')
                .attr('class', 'grid-title')
                .attr('transform', function(d,i) {
                    var str = 'translate('
                    str = str + ( i * grid_width + grid_width/2 ) + ' 20)';
                    return str;
                })
                .style('text-anchor', 'middle')
                .attr('fill', '#DDDDDD')
                .text(function(d) {
                    var str = d.p;
                    str = str.replace('_', ' ')
                    return str;
                });

        // set up grid
        var op_grid = overall_progress.append('g')
            .attr('class', 'gridlayer');

        // x grid
        var op_grid_x = op_grid.append('g')
            .attr('class', 'x')
            .selectAll('path').data(processes).enter()
            .append('path')
                .attr('class', 'xgrid crisp')
                .attr('transform', function(d,i) {
                    var str = 'translate(';
                    str = str + (( i + 1 ) * grid_width) + ')';
                    // console.log(str);
                    return str;
                })
                .attr('d', 'M0,10v384').attr('stroke', '#EEEEEE')
                .attr('stroke-opacity', 1).attr('stroke-width', '1px');

        // progress bars: # of progress bars = number of years imported
        var prog_bar_groups = overall_progress.selectAll('.prog-bar-group')
            .data(years_imported).enter().append('g')
                .attr('class', 'prog-bar-group')
                .attr('transform', function(d,i) {
                    var str = 'translate(0 ';
                    str = str + ( i * bar_spacing + 35 ) + ')';
                    return str;
                });

        var prog_bar = prog_bar_groups.append('rect')
            .attr('class', 'prog-bar')
            .attr('height', bar_height).attr('width', grid_width)
            .attr('fill', '#4B59DB');

        var prog_text = prog_bar_groups.append('text')
            .style('text-anchor', 'middle')
            .attr('transform', 'translate(25,25)')
            .attr('fill', '#FFFFFF')
            .text(function(d) {
                return d.data_year;
            });

        // progress bar length increases if process_team and generate_stats are completed
        prog_bar_groups.selectAll('.prog-bar')
            .data(teams_processed).enter()
            .select('.prog-bar')
                .transition().duration(op_trans)
                .attr('width', function(d) {
                    return grid_width * (1 + d.num_teams);
                });

    </script>
    {% load static %}
    <!--script src="{% static 'scripts/baseball_job_dashboard.js' %}"></script-->

{% include 'partials/footer_baseball.html' %}
