{% include 'partials/header_baseball.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>View Team Stats</h1>
    </div><br>

    {% load crispy_forms_tags %}
    <form id="view_stats" action="" method="post">
        {% csrf_token %}
        {{ form_view_stats.as_table }}
        <input type="submit" value="View Stats">
    </form>
    <br>

    <div id="table_output" class="d-flex justify-content-center"></div>

    <script>
        (function () {
            window.results = JSON.parse('{{results|safe}}');
            window.columns = {{batting_col|safe}};
        }());
    </script>
    {% load static %}
    <script src="{% static 'scripts/baseball_view_stats.js' %}"></script>

{% include 'partials/footer_baseball.html' %}
